@use '../../../../styles/utils' as U;
@use '../../../../styles/typography' as T;
@use '../../../../styles/color' as C;

.container {
  background-color: C.$gray100;
  border: 1px solid C.$gray300;
  border-radius: 4px;
  padding: 8px;
}

.checklist {
  background-color: C.$white;
  border-radius: 8px;
}
