@use '../../../../styles/utils' as U;
@use '../../../../styles/color' as C;

.container {
  @include U.flex-c(row, flex-start, flex-start);
  gap: 4px;
}

.input {
  border: 1px solid C.$gray;
  border-radius: 6px;
  padding-left: 12px;
}
