@use '../../styles/color' as C;
@use '../../styles/utils' as U;
@use '../../styles/typography' as T;

.planPeriodBox {
  @include U.flex-c(row, center, center);
}

.planPeriod {
  @include U.flex-c(row, center, center);
  border: 1px solid C.$gray200;
  border-radius: 4px;
  background-color: C.$white;
  padding: 6px 12px 6px 12px;
  gap: 12px;
}

.dateBox {
  @include U.flex-c(row, center, center);
  font-size: 1.4rem;
  gap: 6px;
}
