@use '../../../styles/utils' as U;
@use '../../../styles/typography' as T;
@use '../../../styles/color' as C;

.profileImg {
  @include U.size(120px);
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin: auto;
  @include U.flex-c(row, center, center);
}

.profileIcon {
  @extend .profileImg;
  background-color: C.$gray200;
  padding: 25px;
}

.profileName {
  @include T.gray-regular-18;
  margin: 15px 0;
  text-align: center;
}
