@use '../styles/color' as C;
@use '../styles/utils' as U;
@use '../styles/typography' as T;

.container {
  padding: 96px;
}

.text {
  margin: 12px 0;
  @include T.blue-regular-12;
  line-height: 26px;
}

.submitBtn {
  @include T.white-semibold-16;
  background-color: C.$blue400;
  border-radius: 6px;
  padding: 10px 16px;
}
