@use '../styles/color' as C;
@use '../styles/utils' as U;
@use '../styles/typography' as T;

.container {
  padding: 96px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text {
  @include T.blue-regular-12;
  line-height: 26px;
}

.blueBtn {
  @include T.white-semibold-16;
  border-radius: 6px;
  padding: 10px 16px;
  width: fit-content;
}

.disabledBtn {
  @extend .blueBtn;
  background-color: C.$gray200;
}

.submitBtn {
  @extend .blueBtn;
  background-color: C.$blue400;
}
