@use '../styles/color' as C;
@use '../styles/utils' as U;
@use '../styles/typography' as T;

.planContainer {
  // width: 100%;
  // height: 100%;
  max-height: 100%;
  overflow-y: hidden;
  @include U.flex-c(column, flex-start, flex-start);
  gap: 36px;
}

.planHeader {
  width: 100%;
  @include U.flex-c(row, space-between, center);
  padding: 12px 36px 12px 36px;
  background-color: C.$blue500;
}

.planTitle {
  @include T.white-regular-20;
  @include U.flex-c(column, center, center);
}

.planPeriodBox {
  @include U.flex-c(row, center, center);
}

.planPeriod {
  @include U.flex-c(row, center, center);
  border: 1px solid C.$gray200;
  border-radius: 4px;
  background-color: C.$white;
  padding: 6px 12px 6px 12px;
  gap: 12px;
}

.dateBox {
  @include U.flex-c(row, center, center);
  font-size: 1.4rem;
  gap: 6px;
}

.planBody {
  width: 100%;
  // height: 100%;
  // max-height: 100%;
  overflow-y: hidden;
  padding: 36px;
  @include U.flex-c(column, flex-start, flex-start);
  gap: 36px;
}

.userList {
  @include U.flex-c(row);
  margin-top: -24px;
  gap: 36px;
  padding-left: 12px;
}

.users {
  @include U.flex-c(row);
  gap: 24px;
}

.user {
  @include U.flex-c(column);
  gap: 12px;
}

.userProfileBox {
  @include U.flex-c(row);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: C.$gray200;
}

.addPerson {
  padding-bottom: 36px;
}

.planner {
  @include U.flex-c(row, flex-start, flex-start);
  width: 100%;
  // height: calc(100% - 500px);
  // max-height: calc(100% - 500px);
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: C.$gray100;
  padding: 36px;
  gap: 36px;
  border-radius: 12px;
}

.planList {
  height: 100%;
  max-height: 1500px;
  @include U.flex-c(row, flex-start, flex-start);
  gap: 36px;
  overflow-y: hidden;
}

.plan {
  @include U.flex-c(column, flex-start, flex-start);
  width: 324px;
  max-height: 1500px;
  overflow-y: hidden;
  gap: 12px;
}

.scheduleBox {
  @include U.flex-c(column, flex-start, flex-start);
  // width: 324px;
  // padding: 12px;
  width: 100%;
  // border-radius: 4px;
  // border: 1px solid C.$gray200;
  gap: 12px;
  overflow-y: hidden;
}

// 높이가 100%로 되어있으니까 눈에 보이는 것보다 훨씬 큰 높이를 갖고 있을 것이고
// 그렇기 때문에 overflow scroll이 적용되지 않았던 것
.schedules {
  @include U.flex-c(column, flex-start, flex-start);
  gap: 12px;
  width: 100%;
  height: 800px;
  overflow-y: scroll;
}

.scheduleItem {
  width: 100%;
}

input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
  @include U.flex-c(row, center, center);
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

.dateInput {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
}

.dateTitle {
  @include U.flex-c();
  @include T.black-semibold-20;
  width: 100%;
  background-color: C.$white;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid C.$gray200;
}

.addElementBtn {
  @include U.flex-c();
  margin-top: 12px;
  width: 100%;
}

.addDayBtn {
  @include U.flex-c();
  width: 324px;
  color: C.$white;
  font-size: 2rem;
  background-color: C.$blue500;
  padding: 12px;
  border-radius: 4px;
}

.chatModalBtn {
  position: fixed;
  right: 2%;
  bottom: 4%;
  width: 90px;
  height: 90px;
  background-color: C.$blue100;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include U.box-shadow();
}
