@use '../styles/color' as C;
@use '../styles/utils' as U;
@use '../styles/typography' as T;

.plannerContainer {
  width: 100%;
  padding: 96px;
  @include U.flex-c(column, flex-start, flex-start);
  gap: 72px;
}

.header {
  width: 100%;
  @include U.flex-c(row, flex-start);
  gap: 24px;
}

.describtionBox {
  @include U.flex-c(column, flex-start, flex-start);
  gap: 12px;
}

.descriptionMsg {
  // @include T.white-regular-20;
  // background-color: C.$blue400;
  // padding: 12px 24px 12px 24px;
  // border-radius: 6px;
}

.profileBox {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: C.$gray200;
}

.tripDescribtion {
  @include U.flex-c(row, flex-start);
  gap: 6px;
  color: C.$blue400;
  .grayText {
    color: C.$gray;
  }
}

.plansBox {
  width: 100%;
  @include U.flex-c(row, flex-start, flex-start);
  gap: 72px;
}

.plans {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 36px;
  gap: 24px;
}

.planBox {
  @include U.box-shadow();
  width: 350px;
  height: 200px;
  border-radius: 12px;
}

.planHeader {
  @include U.flex-c(row, flex-start, center);
  @include T.white-regular-20;
  padding-left: 24px;
  height: 60px;
  background-color: C.$blue400;
  border-radius: 12px 12px 0 0;
}

.planContents {
  @include U.flex-c(column, flex-start, flex-start);
  padding: 24px;
  gap: 6px;
}

.userList {
  @include U.flex-c(row, flex-start);
  @include T.black-semibold-20;
  gap: 24px;
}

.plannerUser {
  @include U.flex-c(row, flex-start);
  gap: 12px;
}

.plannerUserProfileBox {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: C.$gray200;
}

.tripPeriod {
  @include U.flex-c(row, flex-start);
  gap: 6px;
}

.buttons {
  @include U.flex-c(column, flex-start, flex-start);
  gap: 24px;
}
