@use '../styles/color' as C;
@use '../styles/utils' as U;
@use '../styles/typography' as T;

.plannerContainer {
  width: 100%;
  padding: 96px;
  @include U.flex-c(column, flex-start, flex-start);
  gap: 72px;
}

.header {
  width: 100%;
  @include U.flex-c(row, flex-start);
  gap: 24px;
}

.describtionBox {
  @include U.flex-c(column, flex-start, flex-start);
  gap: 12px;
}

.descriptionMsg {
  // @include T.white-regular-20;
  // background-color: C.$blue400;
  // padding: 12px 24px 12px 24px;
  // border-radius: 6px;
}

.profileBox {
  @include U.flex-c(row);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: C.$gray200;
}

.tripDescribtion {
  @include U.flex-c(row, flex-start);
  gap: 6px;
  color: C.$blue400;
  .grayText {
    color: C.$gray;
  }
}

.plansBox {
  width: 100%;
  @include U.flex-c(row, flex-start, flex-start);
  gap: 72px;
}

.plans {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 36px;
  gap: 36px;
}

.buttons {
  @include U.flex-c(column, flex-start, flex-start);
  gap: 12px;
  .addBtn {
    width: 100px;
    background-color: C.$blue400;
    padding: 12px;
    color: white;
    border-radius: 4px;
  }
  .editBtn {
    width: 100px;
    padding: 12px;
    color: C.$blue400;
  }
}
