@use '../styles/color' as C;
@use '../styles/utils' as U;
@use '../styles/typography' as T;

.signInForm {
  padding: 96px;
  @include U.flex-c(column, flex-start, flex-start);
  gap: 24px;
}

.btnBox {
  @include U.flex-c(row, flex-start, center);
  @include T.blue-regular-16;
  gap: 12px;
}

.signInBtn {
  @include T.white-semibold-16;
  background-color: C.$blue400;
  border-radius: 6px;
  padding: 10px 16px;
}
