@use '../styles/color' as C;
@use '../styles/utils' as U;
@use '../styles/typography' as T;

.signUpForm {
  padding: 96px;
  @include U.flex-c(column, flex-start, flex-start);
  gap: 24px;
}

.submitBtn {
  margin-top: 24px;
  background-color: C.$blue400;
  border-radius: 6px;
  color: C.$white;
  padding: 10px 16px;
}
