@use '../../../styles/color' as C;
@use '../../../styles/utils' as U;
@use '../../../styles/typography' as T;

.container {
  width: 276px;
  @include U.flex-c(column, flex-start, flex-start);
  gap: 24px;
  background-color: C.$white;
  border: 1px solid C.$gray200;
  padding: 12px;
  border-radius: 4px;
}

.buttons {
  @include U.flex-c(row, flex-end, flex-start);
  width: 100%;
  gap: 12px;
  font-size: 1.6rem;
}
