@use '../../../styles/color' as C;
@use '../../../styles/utils' as U;
@use '../../../styles/typography' as T;

.container {
  width: 100%;
  @include U.flex-c(column, flex-start, flex-start);
  gap: 12px;
  background-color: C.$white;
  border: 1px solid C.$gray200;
  padding: 12px;
  border-radius: 4px;
}

.inputBox {
  @include U.flex-c(column, flex-start, flex-start);
  gap: 6px;
  background-color: C.$gray100;
  width: 100%;
  padding: 12px;
  border: 1px solid C.$gray200;
  border-radius: 4px;
  .textInput {
    border: 1px solid C.$gray200;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px 6px 12px;
  }
  .timeInput {
    border: 1px solid C.$gray200;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px 6px 12px;
  }
  .longTextInput {
    border: 1px solid C.$gray200;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px 6px 12px;
    resize: none;
  }
}

.buttons {
  @include U.flex-c(row, flex-end, flex-start);
  width: 100%;
  gap: 12px;
  font-size: 1.6rem;
  .addBtn {
    @include U.flex-c(row);
    background-color: C.$blue400;
    color: white;
    padding: 3px;
    width: 48px;
    border-radius: 4px;
  }
  .cancelBtn {
    @include U.flex-c(row);
    color: C.$blue400;
    padding: 3px;
    width: 48px;
    border-radius: 4px;
  }
}
