@use '../../../styles/color' as C;
@use '../../../styles/utils' as U;
@use '../../../styles/typography' as T;

.container {
  width: 100%;
  @include U.flex-c(column, flex-start, flex-start);
  gap: 24px;
  background-color: C.$white;
  border: 1px solid C.$gray200;
  padding: 12px;
  border-radius: 4px;
}

.itemBox {
  background-color: C.$gray100;
  width: 100%;
  padding: 24px;
  border: 1px solid C.$gray200;
  border-radius: 4px;
}

.header {
  @include U.flex-c(row, flex-start, center);
  gap: 12px;
  margin-bottom: 12px;
  .title {
    @include T.black-semibold-20;
  }
  .category {
    @include T.gray-regular-16;
  }
}

.itemInfo {
  @include U.flex-c(row, flex-start, center);
  gap: 12px;
  .itemTime {
    @include T.blue-regular-16;
  }
  .itemPayment {
    @include T.black-regular-16;
  }
}

.itemAddress {
  @include T.black-regular-12;
  margin-bottom: 12px;
}

.buttons {
  @include U.flex-c(row, flex-end, flex-start);
  width: 100%;
  gap: 12px;
  font-size: 1.6rem;
  .okBtn {
    @include U.flex-c(row);
    background-color: C.$blue400;
    color: white;
    padding: 3px;
    width: 48px;
    border-radius: 4px;
  }
  .deleteBtn {
    @include U.flex-c(row);
    color: C.$blue400;
    padding: 3px;
    width: 48px;
    border-radius: 4px;
  }
}
