@use '../../styles/color' as C;
@use '../../styles/typography' as T;
@use '../../styles/utils' as U;

.container {
  background-color: C.$gray100;
  padding: 40px;
}

.active {
  @include T.blue-regular-24;
  margin: 15px 0;
}

.inactive {
  @include T.black-regular-24;
  margin: 15px 0;
}
