@use '../../styles/utils' as U;
@use '../../styles/typography' as T;
@use '../../styles/color' as C;

.entireContainer {
  @include U.flex-c(column, flex-start, flex-start);
  padding: 96px;
}

.profileContainer {
  @include U.flex-c(row, flex-start, center);
  @include U.size(100%, 100px);
  gap: 24px;
}

.profileBox {
  @include U.size(100px);
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background-color: C.$gray;
  @include U.flex-c(row, center, center);
}

.profileInfo {
  @include U.size(240px, 100%);
  @include U.flex-c(column, center, flex-start);
}

.profileName {
  @include T.black-bold-32;
}

.profileEmail {
  @include T.gray-regular-20;
}

.blueButton {
  padding: 10px 16px;
  border-radius: 6px;
  background: C.$blue400;
  @include T.white-semibold-16;
}

.button {
  @include T.gray-regular-16;
}
