@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 400;
  src: local('SpoqaHanSansNeo'), url('./SpoqaHanSansNeo-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 500;
  src: local('SpoqaHanSansNeo'), url('./SpoqaHanSansNeo-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: 700;
  src: local('SpoqaHanSansNeo'), url('./SpoqaHanSansNeo-Bold.woff2') format('woff2');
  font-display: swap;
}
