@use '../../styles/utils' as U;
@use '../../styles/typography' as T;
@use '../../styles/color' as C;

// .background {
//   @include U.size(100%);
// }

.chatContainer {
  position: fixed;
  right: 1%;
  bottom: 2%;
  width: 30%;
  height: 80%;
  min-width: 350px;
  min-height: 600px;
  padding: 15px;
  border-radius: 12px;
  background-color: C.$blue100;
  @include U.box-shadow();

  .chatHeader {
    @include U.flex-c(row, center, center);
    padding: 10px 10px 20px 10px;

    h1 {
      flex-grow: 1;
      text-align: center;
    }
  }

  .chatBody {
    height: 80%;
    padding: 20px;
    border-radius: 12px;
    background-color: C.$white;
    overflow: auto;

    .message {
      margin-bottom: 10px;

      .loggedInUser {
        @include T.blue-bold-16;
      }

      .notLoggedInUser {
        @include T.black-bold-16;
      }

      .text {
        @include T.black-regular-16;
      }
    }
  }

  .chatFooter {
    @include U.flex-c(row, center, space-between);
    padding: 20px 0;

    .chatInput {
      width: calc(100% - 80px);
      margin-right: 15px;
      padding: 5px 10px;
      border-style: none;
      border-radius: 6px;
    }

    .chatInput:focus {
      outline: none;
    }

    .sendButton {
      padding: 7px 14px;
      border: none;
      border-radius: 6px;
      color: C.$white;
      background: C.$blue500;
    }
  }
}
