@use '../../styles/color' as C;
@use '../../styles/utils' as U;
@use '../../styles/typography' as T;

.planBox {
  @include U.box-shadow();
  width: 350px;

  border-radius: 12px;
}

.planHeader {
  @include U.flex-c(row, flex-start, center);
  @include T.white-regular-20;
  padding-left: 24px;
  height: 50px;
  background-color: C.$blue400;
  border-radius: 12px 12px 0 0;
  button {
    @include U.flex-c(row, flex-start, center);
    width: 100%;
  }
}

.planContents {
  @include U.flex-c(column, flex-start, flex-start);
  padding: 24px;
  gap: 12px;
}

.userList {
  @include U.flex-c(row, flex-start);
  @include T.black-semibold-20;
  width: 100%;
  gap: 24px;
  overflow-x: scroll;
}

.plannerUser {
  @include U.flex-c(row, flex-start);
  gap: 12px;
}

.plannerUserProfileBox {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: C.$gray200;
}

.tripPeriod {
  @include U.flex-c(row, flex-start);
  @include T.black-regular-14;
  gap: 6px;
}
