$black: #000;
$white: #fff;
$gray: #adb5bd;

$blue100: #cfe2ff;
$blue200: #9ec5fe;
$blue300: #6ea8fe;
$blue400: #3d8bfd;
$blue500: #0d6efd;

$gray800: #8b8f94;
$gray300: #dee2e6;
$gray200: #d9d9d9;
$gray100: #f4f5f7;
