@use '../../../../styles/utils' as U;
@use '../../../../styles/typography' as T;
@use '../../../../styles/color' as C;

.container {
  background-color: C.$gray100;
  border: 1px solid C.$gray300;
  border-radius: 4px;
  padding: 8px 8px 24px 8px;
  @include U.flex-c(column, flex-start, center);
  gap: 12px;
}

.line {
  @include U.size(100%, 1px);
  background-color: C.$gray300;
}
